.pg{width:780px;height:24px; line-height:24px;float: right;}
.pg input{width:40px; float:right; margin:0 0 0 10px;}
.pg a{ display:block; color:#FFF; margin:0 0 0 5px; float:right; width:40px; height:24px; background:#A7B4BE; text-align:center; border-radius:2px;}
.pg span{ float:right; margin:0 0 0 10px;} 
.pg a.go{width:40px; background:#455262;}
.pg a.gray{background:#147896;}