<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chexun.dealer.model.dealers.BuyCredentialsMapper">
 	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 -->  
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>  -->
    <!--<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>   -->
    <resultMap id="BuyCredentialsResult" type="com.chexun.dealer.model.dealers.BuyCredentials">
        <result property="id" column="id"/>
        <result property="dealerid" column="dealerid"/>
        <result property="zhizhao" column="zhizhao"/>
        <result property="zhizhaostatus" column="zhizhaostatus"/>
        <result property="jigou" column="jigou"/>
        <result property="jigoustatus" column="jigoustatus"/>
        <result property="shuiwu" column="shuiwu"/>
        <result property="shouquan" column="shouquan"/>
        <result property="shouquanstatus" column="shouquanstatus"/>
        <result property="shuiwustatus" column="shuiwustatus"/>
    </resultMap>

    <sql id="buy_credentials_columns">
        buy_credentials.id,
        buy_credentials.dealerid,
        buy_credentials.zhizhao,
        buy_credentials.zhizhaostatus,
        buy_credentials.jigou,
        buy_credentials.jigoustatus,
        buy_credentials.shuiwu,
        buy_credentials.shouquan,
        buy_credentials.shouquanstatus,
        buy_credentials.shuiwustatus
    </sql>
    
    <sql id="buy_credentials_where_conditions">
    	<trim prefix="where" prefixOverrides="and|or">
        <if test="id != null">
        	and id=#{id} 
        </if>
        <if test="dealerid != null">
        	and dealerid=#{dealerid} 
        </if>
        
        <if test="zhizhao != null and zhizhao != ''">
        	and zhizhao=#{zhizhao} 
        </if>
        <if test="zhizhaostatus != null">
        	and zhizhaostatus=#{zhizhaostatus} 
        </if>
        
        <if test="jigou != null and jigou != ''">
        	and jigou=#{jigou} 
        </if>
        <if test="jigoustatus != null">
        	and jigoustatus=#{jigoustatus} 
        </if>
        
        <if test="shuiwu != null and shuiwu != ''">
        	and shuiwu=#{shuiwu} 
        </if>
        
        <if test="shouquan != null and shouquan != ''">
        	and shouquan=#{shouquan} 
        </if>
        <if test="shouquanstatus != null">
        	and shouquanstatus=#{shouquanstatus} 
        </if>
        <if test="shuiwustatus != null">
        	and shuiwustatus=#{shuiwustatus} 
        </if>
        </trim>
    </sql>
    
    <sql id="buy_credentials_set_conditions">
    	<set>
        <if test="id != null">
        	id=#{id},
        </if>
        <if test="dealerid != null">
        	dealerid=#{dealerid},
        </if>
        <if test="zhizhao != null">
        	zhizhao=#{zhizhao},
        </if>
        <if test="zhizhaostatus != null">
        	zhizhaostatus=#{zhizhaostatus},
        </if>
        <if test="jigou != null">
        	jigou=#{jigou},
        </if>
        <if test="jigoustatus != null">
        	jigoustatus=#{jigoustatus},
        </if>
        <if test="shuiwu != null">
        	shuiwu=#{shuiwu},
        </if>
        <if test="shouquan != null">
        	shouquan=#{shouquan},
        </if>
        <if test="shouquanstatus != null">
        	shouquanstatus=#{shouquanstatus},
        </if>
        <if test="shuiwustatus != null">
        	shuiwustatus=#{shuiwustatus},
        </if>
        </set>
    </sql>

    <sql id="buy_credentials_properties">
        #{id},
        #{dealerid},
        #{zhizhao},
        #{zhizhaostatus},
        #{jigou},
        #{jigoustatus},
        #{shuiwu},
        #{shouquan},
        #{shouquanstatus},
        #{shuiwustatus}
    </sql>

    <insert id="createBuyCredentials" parameterType="com.chexun.dealer.model.dealers.BuyCredentials" keyColumn="id" keyProperty="id" useGeneratedKeys="true" >
        insert INTO buy_credentials (<include refid="buy_credentials_columns"/>) VALUES (<include refid="buy_credentials_properties"/>)
    </insert>
	
	<insert id="insertBuyCredentials" parameterType="com.chexun.dealer.model.dealers.BuyCredentials" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    	insert into buy_credentials
    	<trim prefix="(" suffix=")" suffixOverrides="," >
    			<if test="id != null" >
        			id,
    			</if>
    			<if test="dealerid != null" >
        			dealerid,
    			</if>
    			<if test="zhizhao != null" >
        			zhizhao,
    			</if>
    			<if test="zhizhaostatus != null" >
        			zhizhaostatus,
    			</if>
    			<if test="jigou != null" >
        			jigou,
    			</if>
    			<if test="jigoustatus != null" >
        			jigoustatus,
    			</if>
    			<if test="shuiwu != null" >
        			shuiwu,
    			</if>
    			<if test="shouquan != null" >
        			shouquan,
    			</if>
    			<if test="shouquanstatus != null" >
        			shouquanstatus,
    			</if>
    			<if test="shuiwustatus != null" >
        			shuiwustatus
    			</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
    			<if test="id != null" >
        		#{id},
    		</if>
    			<if test="dealerid != null" >
        		#{dealerid},
    		</if>
    			<if test="zhizhao != null" >
        		#{zhizhao},
    		</if>
    			<if test="zhizhaostatus != null" >
        		#{zhizhaostatus},
    		</if>
    			<if test="jigou != null" >
        		#{jigou},
    		</if>
    			<if test="jigoustatus != null" >
        		#{jigoustatus},
    		</if>
    			<if test="shuiwu != null" >
        		#{shuiwu},
    		</if>
    			<if test="shouquan != null" >
        		#{shouquan},
    		</if>
    			<if test="shouquanstatus != null" >
        		#{shouquanstatus},
    		</if>
    			<if test="shuiwustatus != null" >
        		#{shuiwustatus}
    		</if>
    	</trim>
  	</insert>
	
    <delete id="deleteBuyCredentialsById" parameterType="Long">
        delete from buy_credentials
    </delete>
    
    <delete id="deleteBuyCredentialsByObj" parameterType="com.chexun.dealer.model.dealers.BuyCredentials">
        delete from buy_credentials
        <include refid="buy_credentials_where_conditions"/>
    </delete>
    
  	<delete id="deleteBuyCredentialsByIdList" parameterType="java.util.List">
    	delete from buy_credentials 
    </delete>

    <update id="updateBuyCredentials" parameterType="com.chexun.dealer.model.dealers.BuyCredentials">
        update buy_credentials SET
            id = #{id},
            dealerid = #{dealerid},
            zhizhao = #{zhizhao},
            zhizhaostatus = #{zhizhaostatus},
            jigou = #{jigou},
            jigoustatus = #{jigoustatus},
            shuiwu = #{shuiwu},
            shouquan = #{shouquan},
            shouquanstatus = #{shouquanstatus},
            shuiwustatus = #{shuiwustatus}
    </update>
    
    <update id="updateBuyCredentialsByObj" parameterType="com.chexun.dealer.model.dealers.BuyCredentials">
        update buy_credentials 
        <include refid="buy_credentials_set_conditions"/>
         where id=#{id}
       
    </update>
    
    <update id="updateBuyCredentialsByObjAndConditions" parameterType="java.util.HashMap">
        update buy_credentials 
        <set>
        <if test="s.id != null">
        	id=#{s.id},
        </if>
        <if test="s.dealerid != null">
        	dealerid=#{s.dealerid},
        </if>
        <if test="s.zhizhao != null">
        	zhizhao=#{s.zhizhao},
        </if>
        <if test="s.zhizhaostatus != null">
        	zhizhaostatus=#{s.zhizhaostatus},
        </if>
        <if test="s.jigou != null">
        	jigou=#{s.jigou},
        </if>
        <if test="s.jigoustatus != null">
        	jigoustatus=#{s.jigoustatus},
        </if>
        <if test="s.shuiwu != null">
        	shuiwu=#{s.shuiwu},
        </if>
        <if test="s.shouquan != null">
        	shouquan=#{s.shouquan},
        </if>
        <if test="s.shouquanstatus != null">
        	shouquanstatus=#{s.shouquanstatus},
        </if>
        <if test="s.shuiwustatus != null">
        	shuiwustatus=#{s.shuiwustatus},
        </if>
        </set>
        <where>
        <if test="c.id != null">
        	id=#{c.id} AND 
        </if>
        <if test="c.dealerid != null">
        	dealerid=#{c.dealerid} AND 
        </if>
        <if test="c.zhizhao != null">
        	zhizhao=#{c.zhizhao} AND 
        </if>
        <if test="c.zhizhaostatus != null">
        	zhizhaostatus=#{c.zhizhaostatus} AND 
        </if>
        <if test="c.jigou != null">
        	jigou=#{c.jigou} AND 
        </if>
        <if test="c.jigoustatus != null">
        	jigoustatus=#{c.jigoustatus} AND 
        </if>
        <if test="c.shuiwu != null">
        	shuiwu=#{c.shuiwu} AND 
        </if>
        <if test="c.shouquan != null">
        	shouquan=#{c.shouquan} AND 
        </if>
        <if test="c.shouquanstatus != null">
        	shouquanstatus=#{c.shouquanstatus} AND 
        </if>
        <if test="c.shuiwustatus != null">
        	shuiwustatus=#{c.shuiwustatus} AND 
        </if>
       (status!=2)
        </where>
    </update>
    
    <update id="batchUpdateBuyCredentials" parameterType="java.util.List">
		update buy_credentials
		<trim prefix="set" suffixOverrides=",">
      	 	<trim prefix="id=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.id!=null">
						WHEN  THEN #{i.id}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="dealerid=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.dealerid!=null">
						WHEN  THEN #{i.dealerid}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="zhizhao=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.zhizhao!=null">
						WHEN  THEN #{i.zhizhao}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="zhizhaostatus=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.zhizhaostatus!=null">
						WHEN  THEN #{i.zhizhaostatus}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="jigou=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.jigou!=null">
						WHEN  THEN #{i.jigou}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="jigoustatus=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.jigoustatus!=null">
						WHEN  THEN #{i.jigoustatus}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="shuiwu=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.shuiwu!=null">
						WHEN  THEN #{i.shuiwu}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="shouquan=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.shouquan!=null">
						WHEN  THEN #{i.shouquan}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="shouquanstatus=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.shouquanstatus!=null">
						WHEN  THEN #{i.shouquanstatus}
					</if>
				</foreach>
			</trim>
      	 	<trim prefix="shuiwustatus=CASE" suffix="end,">
				<foreach collection="list" item="i" index="index">
					<if test="i.shuiwustatus!=null">
						WHEN  THEN #{i.shuiwustatus}
					</if>
				</foreach>
			</trim>
		</trim>
		where
		<foreach collection="list" separator="or" item="i" index="index">
		</foreach>
	</update>
    
    

    <select id="getBuyCredentialsById" resultMap="BuyCredentialsResult" parameterType="Long">
        select
        <include refid="buy_credentials_columns"/>
        from buy_credentials
    </select>
    
    <select id="getBuyCredentialsByObj" resultMap="BuyCredentialsResult" parameterType="com.chexun.dealer.model.dealers.BuyCredentials">
        select
        <include refid="buy_credentials_columns"/>
        from buy_credentials
        <include refid="buy_credentials_where_conditions"/>
    </select>
	
    
    <select id="getBuyCredentialsListByObj" resultMap="BuyCredentialsResult"  parameterType="com.chexun.dealer.model.dealers.BuyCredentials">
        select
        <include refid="buy_credentials_columns"/>
        from buy_credentials 
        <include refid="buy_credentials_where_conditions"/>
    </select>
    
    <select id="getBuyCredentialsListByMap" resultMap="BuyCredentialsResult"  parameterType="java.util.HashMap">
        select
        <include refid="buy_credentials_columns"/>
        from buy_credentials 
        <include refid="buy_credentials_where_conditions"/>
        limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER} 
    </select>
    
    <select id="getBuyCredentialsCountByObj" resultType="int" parameterType="com.chexun.dealer.model.dealers.BuyCredentials">
        select count(1) from buy_credentials
        <include refid="buy_credentials_where_conditions"/>
    </select>
    
    
    
    <select id="getBuyCredentialsIdByObj" resultType="Long" parameterType="com.chexun.dealer.model.dealers.BuyCredentials">
        select 
        from buy_credentials
        <include refid="buy_credentials_where_conditions"/>
    </select>
	
    <select id="getBuyCredentialsIdList" resultType="Long" parameterType="com.chexun.dealer.model.dealers.BuyCredentials">
       select  from buy_credentials where 1=1 
        id = #{id}
    </select>
    
    <select id="getBuyCredentialsIdListByObj" resultType="Long"  parameterType="com.chexun.dealer.model.dealers.BuyCredentials">
       select  from buy_credentials 
        <include refid="buy_credentials_where_conditions"/>
    </select>
    
    <select id="getBuyCredentialsIdListByMap" resultType="Long"  parameterType="java.util.HashMap">
        select  from buy_credentials 
        <include refid="buy_credentials_where_conditions"/>
        limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER} 
    </select>
</mapper>